body {
    font-family: sans-serif;
                
}
        
#shape {
                
    width: 200px;
    height: 200px;
    display: none;
    background-color: red;
    position: relative;
}

.bold{
    font-weight: 700;
}